name: Update Coverage Badge
on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  update-badge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
          submodules: true

      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13

      - name: Install Dependencies
        run: uv sync --all-extras

      - name: Run Tests
        run: uv run pytest --slow --cov=. --cov-report=xml:coverage.xml

      - name: Coverage Comment
        id: coverage
        uses: MishaKav/pytest-coverage-comment@v1.2.0
        with:
          pytest-xml-coverage-path: ./coverage.xml
          junitxml-path: ./pytest.xml
          hide-comment: true

      - name: Update README
        run: |
          sed -i '/<!-- Pytest Coverage Comment:Begin -->/,/<!-- Pytest Coverage Comment:End -->/c\<!-- Pytest Coverage Comment:Begin -->\n${{ steps.coverage.outputs.coverageHtml }}\n<!-- Pytest Coverage Comment:End -->' ./README.md

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: update coverage badge"
          file_pattern: README.md
