name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build-wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04-arm,
            windows-latest,
            windows-11-arm,
            macos-15-intel,
            macos-latest,
          ]
    steps:
      - uses: actions/checkout@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_BEFORE_BUILD: pip install setuptools wheel cython numpy

      - name: Upload distributions
        uses: actions/upload-artifact@v5
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"

      - name: Build sdist
        run: uv build --sdist

      - name: Upload source distribution
        uses: actions/upload-artifact@v5
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - build-wheels
      - build-sdist
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/edge-mender
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v6
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
